auth.test.internal {
	tls internal
	reverse_proxy authentik-server-1:9000
}

zabbix.test.internal {
	tls internal
	reverse_proxy zabbix-web:8080
}

grafana.test.internal {
	tls internal
	reverse_proxy ak-demo-grafana:3000
}

whoami.test.internal {
    tls internal

    forward_auth authentik-outpost-proxy:9000 {
        uri /outpost.goauthentik.io/auth/caddy
        copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Forwarded-Preferred-Username
    }

    reverse_proxy whoami:80
}