test.internal {
	tls internal
	reverse_proxy http://authentik-server-1:9000 {
		header_up Host {host}
       		header_up X-Forwarded-Proto {scheme}
       	 	header_up X-Forwarded-For {remote}
    }
}
zabbix.test.internal {
	tls internal
    reverse_proxy zabbix-web:8080
}